<mat-card>
<h1 class="text-center">Your Profile Details</h1>
<mat-card-content>
<div class="bootstrap-wrapper">
<div class="container">
<div class="container text-center">
<img src="../../../assets/user.png" alt="" class="profile">
<h1 class="mt20">{{user}}</h1>
</div>
<div class="row">
<div class="col-md-10 offset-md-1">

<table class="table table-bordered border-info">

<tr>
<td>Username</td>
<td>{{user}}</td>
</tr>

<tr>
<td>Email Id</td>
<td>{{user}}</td>
</tr>

<tr>
<td>Phone Number</td>
<td>{{user}}</td>
</tr>



</table>

</div>
</div>
</div>
</div>
</mat-card-content>
<mat-card-actions class="text-center">
<!--<button mat-raised-button color="primary">Update</button>
<button mat-raised-button color="accent">Delete</button>-->
</mat-card-actions>
</mat-card>