.body{
width: 50%;
height: 100%;
display: block;
margin: auto;
flex-direction: row;
align-content: center;
text-align: center;
}

.informationMessage{
margin-top: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,monospace;
font-size: 20px;
text-align: center;
}