mat-card
{
width: 1070px;
height: 550px;
margin-top: 10px;
margin-left: 30px;
}
.head
{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
}
.example-full-width
{
width: 50%;
margin-left: 199px;
}
.btn1,.btn2
{
width: 100px;
margin-left: 10px;
}
.btns
{
margin-left: 22rem;
margin-top: 40px;
}
.example-full-width1
{
width: 25%;
margin-left: 199px;
}
